<!DOCTYPE html>
<html>
  <head>
    <title>Your Jotsy Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/app.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Jotsy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/account"
                >My Account</a
              >
            </li>
          </ul>
          <form class="d-flex" action="/logout" method="post">
            <button class="btn btn-danger" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <div class="container p-3">
      <div class="card">
        <div class="card-body">
          <div class="card-header"><h1>My account</h1></div>
          <p class="p-3 card-text lead">
            Welcome to your account settings! Having any trouble? Please
            <a href="https://github.com/ohsayan/jotsy/issues/new"
              >open an issue here</a
            >.
            <br />
            Your username is <b>@{{ username }}</b>. You have
            <b>{{ count }} notes</b> stored on Jotsy.
          </p>
          <form
            action="/clearnotes"
            method="POST"
            id="form-clear"
            hidden
          ></form>
          <button
            form="form-clear"
            class="btn btn-outline-danger"
            type="submit"
          >
            Delete all notes
          </button>
          <form
            action="/deleteaccount"
            method="POST"
            id="form-delete"
            hidden
          ></form>
          <button class="btn btn-danger" form="form-delete" type="submit">
            Delete my account
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
