<!DOCTYPE html>
<html>
  <head>
    <title>@{{ username }} on Jotsy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/app.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Jotsy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">My Account</a>
            </li>
          </ul>
          <form class="d-flex" action="/logout" method="post">
            <button class="btn btn-danger" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Navbar-->
    <!-- Body -->
    <div class="container p-3">
      <div class="row">
        <div class="col-md-3">
          <h1>Welcome, <br />@{{ username }}!</h1>
          <p class="text-primary fs-4">
            You've got <span id="count">{{ count }}</span> note(s) on Jotsy.
          </p>
        </div>
        <div class="col-md-9">
          <div class="border border-primary p-2 rounded border-2 my-2">
            <div class="alert alert-danger" role="alert" id="newerror" hidden>
              <span id="newerrormsg"></span>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <textarea
                  type="text"
                  style="resize: both"
                  class="form-control"
                  id="inputnote"
                  name="note"
                  placeholder="How have things been? Start jotsying your notes here ..."
                ></textarea>
              </div>
            </div>
            <div>
              <button class="btn btn-primary" onclick="submitAndUpdate();">
                Create note
              </button>
              <div class="loader float-end" id="loader" hidden></div>
            </div>
          </div>
          <div id="notes">
            {% if notes.len() == 0 %}
            <h1 id="nonewnotes">
              <p>You don't have any notes yet! Go ahead and write some!</p>
            </h1>
            {% else %} {% for note in notes %}
            <div class="card isnote">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 0.9em">
                  {{ note.date }}
                </h5>
                <p class="card-text" style="font-size: 1.2em">
                  {{ note.body }}
                </p>
              </div>
            </div>
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <script src="../static/js/app.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
