<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting</title>
    <meta http-equiv="refresh" content="1; url = /" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body class="centered">
    <p style="text-align: center;">
    {% if message.len() != 0 %}
    <h1>{{ message }}</h1>
    {% endif %}
    Redirecting you to the <a href="/">homepage</a>
   </p>
  </body>
</html>
