name: Publish docker image
on:
  push:
    branches:
      - next
    tags:
      - "v*"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build (optimized)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - name: Build image
        run: docker build -t jotsy
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ohsayan/jotsy
          tags: latest
          tag_with_ref: true
